---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}

	<p>
	English Blog Post assignment, for some reason I could not get the hyperlinks for each card to route to the correct path
	</p>
>
</Layout>
